<mat-card spHover="mat-elevation-z5">
  <button mat-icon-button mat-flat-button color="accent" class="delete" (click)="deleteGoods()">
    <mat-icon>delete</mat-icon>
  </button>
  <mat-card-title class="title-height">
    {{ goods.name }}
  </mat-card-title>

  <mat-card-subtitle>
    {{ goods.limit | date }}
  </mat-card-subtitle>

  <mat-card-subtitle *ngIf="!!owner">
    {{ owner.name }}
  </mat-card-subtitle>

  <mat-card-content>
    {{ price | bignumber }}
  </mat-card-content>
</mat-card>
