.mat-card {
  bottom: 0;
  height: 360px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
}

.mat-card-content {
  padding-top: 50px;

  .mat-form-field {
    width: 100%;
  }
}

.mat-card-actions {
  margin-bottom: 0;
}
